  .margin-top{
    margin-top:10px;
  }
  .margin-top-lg{
    margin-top:10px;
  }
  .margin-bottom{
    margin-bottom:10px;
  }
  .width-100 {
    width : 100%;
  }

  .qa-detail{
    padding : 10px;
    padding-top : 40px;
  }

  .qa-detail h1.qa-title{
    font-size : 18px;
  }

  .qa-detail div.qa-content{
    font-size : 14px;
    color : #333333;
  }

  .qa-detail div.qa-content span.date{
    color : #8FCBE7;
    font-size : 14px;
  }