.margin-top {
  margin-top:10px;
}

.margin-top-lg{
  margin-top:10px;
}
.margin-bottom{
  margin-bottom:10px;
}
.width-100 {
  width : 100%;
}

.qa-create{
  padding-top : 40px;
}

.qa-create-form{
  border : 1px solid #eeeeee;
  border-radius : 5px;
  padding : 20px;
  margin : 0px auto;
  background: #ECF6FB;
}

.input-field{
  border : 1px solid #eeeeee;
  border-radius : 5px;
}

.toolbar-bottom{
  text-align : center;
  margin-top : 20px;
}